h2,
h6 {
    text-align: center;
    color: black;
}

.borito img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 40px;

}

.balenciaga {
    width: 100%;
}

h3 {
    color: white;
    display: inline-block;
    border: 2px solid white;
    border-radius: 12px;
    padding: 10px 40px;
    text-align: center;
    margin-bottom: 35px;
}

.cimsor {
    text-align: center;
}

.cimsor2 {
    text-align: center;
    margin-top: 100px;
}

.termekkep {
    display: inline-block;
    padding: 10px;
    background: whitesmoke;
    border: 1px solid whitesmoke;
    box-shadow: 0 6px 16px rgba(0, 0, 0, .12);
    border-radius: 20px 20px 20px 20px;
    border: black 1px solid;
}

.meretek {
    margin-top: 1000px;
}

.alsoindex {
    color: red;
    font-weight: bold;
}

.alsoindex2{
    color: black;
    font-weight: bold;
}

body {
    background-color: rgb(37, 37, 37);
}

p {
    color: white;
}

.logo-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none; /* ne legyen aláhúzás */
  cursor: pointer;
}

.logo {
  height: 32px;  /* állítsd a méretet */
  width: auto;
  display: block; /* ne hagyjon “rés” alul */
}